/*GERAL*/

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(153, 63%, 82%);
    --soft-black: hsl(150, 1%, 26%);
    --content-color: hsla(192, 86%, 89%, 0.938);
    --light-texts: hsl(0, 8%, 95%);
}

body {
    font-family: 'DM Sans', sans-serif;
    margin-inline: 5rem;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--light-texts);
}


/*HEADER*/

header {
    background: url('assets/header-img.jpg');
    background-size: 100% 100%;
    background-color: #000000;
    height: 100vh;
    padding-block: 3rem;
    margin-bottom: 1rem;
}

#identificacao {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

#nome {
    color: var(light-texts);
    font-family: 'Tapestry', cursive;
    color: var(--light-texts);
    font-size: 4rem;
}

#descricao {
    color: var(--light-texts);
    font-size: 2rem;
    margin-bottom: 3rem;
}

#foto {
    box-shadow: 10px 10px 10px rgb(4, 4, 4);
    width: 50%;
    height: 90%;
    filter: opacity(80%);
}

nav {
    background: var(--soft-black);
    margin-bottom: 0;
}

li {
    font-size: 2rem;
    list-style: none;
    height: 100%;
    padding: 1rem;
}

li:hover,
.icon:hover,
.conteudo:hover {
    transition: 1s;
    background-color: rgba(178, 222, 243, 0.839);
    padding: 0.5rem;
    border-radius: 2px;
    box-shadow: 5px 10px hsl(0, 0%, 53%);
}


/*MAIN*/

main {
    background-color: var(--content-color);
    margin-top: 1rem;
}

section {
    display: flex;
    align-items: center;
}

#meus-interesses {
    flex-direction: row-reverse;
}

.imagem-conteudo {
    width: 54.9rem;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.texto {
    text-align: justify;
    line-height: 2rem;
    text-indent: 2rem;
    font-size: 1.2rem;
    padding-inline: 3rem;
}


/*FOOTER*/

footer {
    background: var(--soft-black);
    height: auto;
    margin-top: -0.4rem;
    padding-block: 3rem;
    color: var(--light-texts);
    text-align: center;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

#icones-links {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.links-contato {
    width: 3rem;
    height: 3rem;
}